body{
  background-color: darkkhaki;
  background-position: cover;
  text-align: center;
  color: white;
  font-family: sans-serif;
 

}
.akan {
  float: center;
  width: 25%;
}  
.pencil {
  height: 20px;
}
ul{
  list-style-type: none;
}
class .akan{
  float: center;
}